= form_for @collection do |f|
  - if @collection.errors.any?
    .alert-danger
      %h2= "#{pluralize(@collection.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @collection.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.hidden_field :user_id, value: current_user.id
    = f.label :name
    = f.text_field :name, placeholder: "Appetizers", class: "form-control"
    %br
  .form-group
    = f.submit 'Save', class: "btn btn-lg btn-info btn-block"
