.container
  - @collections.each do |collection|
    .col-md-3{style: "height:175px;"}
      .thumbnail{style: "height:100%;"}
        / = link_to image_tag(collection.recipes.first.list_image), collection, style: "max-height:80%;"
        / %br
        / = link_to "#{truncate(collection.name.titleize + ' from ' + collection.user.first_name.titleize, length: 25)}", collection.user
        %a{href:collection_path(collection)}
          = image_tag collection.recipes.first.list_image, class: "img-thumbnail", style: "margin-top:10px;max-height:80%;"
        %div{style:"position:absolute;bottom:0"}= truncate(collection.name.titleize + " from " + collection.user.first_name.titleize, length: 18)
        .pull-right{style:"position:absolute;top:0;"}= pin_it_button :media => image_url(collection.recipes.first.image.url), :description => "#{collection.name.titleize}, a collection of delicious recipes from #{collection.user.first_name.titleize} over at http://recipes.readydevgo.com", :url => collection_url(collection),:count_layout => 'horizontal'