.container
  .row
    %h1{style:"display:inline;"}= @collection.name.titleize
    - if current_user == @collection.user
      .pull-right
        = link_to 'Edit', edit_collection_path(@collection)
        \|
        = link_to 'Back', collections_path
  - @collection.recipes.each do |recipe|
    .col-sm-6.col-md-4
      .thumbnail
        = link_to image_tag(recipe.image.url, style: "height: 250px;"), recipe
        .pull-left{style:"position:absolute;top:0;"}= pin_it_button :media => image_url(recipe.image.url), :description => recipe.name, :url => recipe_url(recipe),:count_layout => 'horizontal'
        = link_to "by #{recipe.user.first_name}", recipe.user, class: "pull-right", style: "margin-top:-20px;position:relative;background-color:rgba(255,255,255,0.5);color:#333;"
      = link_to "Remove", remove_recipe_recipe_path(recipe, collection_id: @collection.id), class: 'btn btn-sm btn-warning', style: "margin-top:-20px;color:#fff;", method: :post