<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 centered">
      <%= image_tag 'recipe_trans200x200.png' %>
      <h1>Welcome to<br /><strong style="font-size:2em;">Dapper Chef</strong></h1>
      <hr><br>
      <%= link_to "Sign in with Facebook", auth_facebook_path, class: "btn btn-lg btn-block btn-primary", style: "color:#fff;" %>
      <br>
    </div>
  </div>
</div>