<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there David,</h1>
    <p>
      We have a new user for DapperChef.com, their details are below.
    </p>
    <p>
      <%= @user.first_name %><br />
      <%= @user.last_name %><br />
      <%= @user.email %>
    </p>
  </body>
</html>