Welcome to DapperChef.com, <%= @user.first_name.titleize %>
===============================================
 
We really appreciate you taking the time to have a look around.

If you need anything, just give David a shout at david@readydevgo.com (that's me).

To login to the site, just follow this link: <%= @url %>.

Thanks for joining and have a great day!
- David