<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to DapperChef.com, <%= @user.first_name.titleize %></h1>
    <p>
      We really appreciate you taking the time to have a look around.<br>
      If you need anything, just give David a shout at david@readydevgo.com (that's me).
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>- David</p>
  </body>
</html>