= form_for @recipe do |f|
  - if @recipe.errors.any?
    .alert-danger
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :user_id, value: current_user.id
  .form-group
    = f.label :name
    = f.text_field :name, placeholder: "Spaghetti", class: "form-control"
  .form-group
    = f.label :ingredients
    = f.text_area :ingredients, placeholder: "1/2 cup dry spaghetti\n1 cup tomato sauce", class: "form-control", style: "min-height:100px;"
  .form-group
    = f.label :directions
    = f.text_area :directions, placeholder: "Bring 2qts of water to boil...", class: "form-control", style: "min-height:150px;"
  .form-group
    = f.label :image
    = f.file_field :image, class: "form-control"
    = f.hidden_field :image_cache
  .form-group
    = f.submit 'Save', class: "btn btn-lg btn-info btn-block"
