.well.centered{style:"height:160px;position:relative;", itemscope: true, itemtype: 'http://schema.org/Recipe'}
  %meta{itemprop: 'url', content: recipe_path(recipe)}
  - recipe.ingredients_list.each do |i|
    %meta{itemprop: 'ingredients', content: i}
  %meta{itemprop: 'recipeInstructions', content: recipe.directions}
  %a{href:recipe_path(recipe)}
    = image_tag recipe.list_image, class: "img-thumbnail", style: "margin-top:10px;max-height:80%;", itemprop: 'image'
  %div{style:"position:absolute;bottom:0", itemprop: 'name'}= truncate(recipe.name, length: 18)
  .pull-right{style:"position:absolute;top:0;"}= pin_it_button :media => image_url(recipe.image.url), :description => recipe.name, :url => recipe_url(recipe),:count_layout => 'horizontal'
  %br