.container
  .row
    .col-md-8.col-md-offset-2
      %h1 Editing recipe

      = render 'form'

      = link_to 'Show', @recipe, style:"color:#fff;"
      \|
      = link_to 'Back', recipes_path, style:"color:#fff;"