%meta{content: 'dapperchef.com', property: 'og:site'}
.container
  - @recipes.order(created_at: :desc).each do |recipe|
    .col-sm-6.col-md-4
      .thumbnail{itemscope: true, itemtype: 'http://schema.org/Recipe'}
        %meta{itemprop: 'name', content: recipe.name}
        %meta{itemprop: 'image', content: recipe.image.url}
        - recipe.ingredients_list.each do |i|
          %meta{itemprop: 'ingredients', content: i}
        %meta{itemprop: 'recipeInstructions', content: recipe.directions}
        %meta{itemprop: 'url', content: recipe_path(recipe)}
        = link_to image_tag(recipe.image.url, style: "height: 250px;"), recipe
        .pull-left{style:"position:absolute;top:0;"}= pin_it_button :media => image_url(recipe.image.url), :description => recipe.name, :url => recipe_url(recipe),:count_layout => 'horizontal'
        = link_to "by #{recipe.user.first_name}", recipe.user, class: "pull-right", style: "margin-top:-20px;position:relative;background-color:rgba(255,255,255,0.5);color:#333;"