.container{itemscope: true, itemtype: 'http://schema.org/Recipe'}
  .row
    .col-md-8.col-md-offset-2
      .panel.panel-info
        .panel-heading
          .row
            %h3{style:"display:inline;padding-left:5px;", itemprop: 'name'}
              = @recipe.name
            %meta{itemprop: 'url', content: recipe_url(@recipe)}
            - if current_user == @recipe.user
              .pull-right{style:"margin-right:5px;"}
                = link_to 'Edit', edit_recipe_path(@recipe), style: "color:#fff;"
                \|
                = link_to 'Back', recipes_path, style: "color:#fff;"
                \|
                = link_to 'Delete', @recipe, method: :delete, style: "color:#fff;"
        .panel-body
          .thumbnail
            = image_tag @recipe.image.url, itemprop: 'image'
          .well
            %p= simple_format(@recipe.ingredients)
            - @recipe.ingredients_list.each do |i|
              %p{itemprop: 'ingredients', hidden: true}
                i
          = simple_format(@recipe.directions)
      .pull-left
        = link_to 'Share on Facebook', facebook_share_path(recipe_id: @recipe.id), class: "btn btn-lg btn-primary", method: :post
      .pull-right
        = form_tag add_recipe_recipe_path(@recipe), class: "form-inline" do
          .form-group
            = select_tag :collection_id, options_from_collection_for_select(current_user.collections.collect, "id", "name"), class: "form-control", style: "display:inline;"
            = submit_tag "Add to Collection", class: "btn btn-lg btn-primary"
%br
%br

/ %meta{property:"og:url", content:recipe_path(@recipe)}
/ %meta{property:"og:title", content:@recipe.name.titleize}
/ %meta{property:"og:description", content:"This recipe is awesome!"}
/ %meta{property:"og:image", content:@recipe.image.url}