= form_for @user do |f|
  - if @user.errors.any?
    .alert-danger
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :first_name
    = f.text_field :first_name, class: "form-control"
  .form-group
    = f.label :last_name
    = f.text_field :last_name, class: "form-control"
  .form-group
    = f.label :email
    = f.text_field :email, class: "form-control"
  .form-group
    = f.label :image
    = f.file_field :image, class: "form-control"
    = f.hidden_field :image_cache
    .centered
      %br
      = image_tag(@user.image.web.preview.url) if @user.image?
  .form-group
    = f.submit 'Submit', class: "btn btn-lg btn-success btn-block"
