.container
  .row
    .col-md-8.col-md-offset-2
      %h1 Editing user

      = render 'form'

      .pull-right
        = link_to 'Show', @user, style:"color:#fff;"
        \|
        = link_to 'Back', users_path, style:"color:#fff;"
