.container
  .row
    .col-md-4
      #profile
        .well#profile-image.centered
          = image_tag @user.profile_image
          %br
          = @user.first_name
        .well.centered#friends-list
          - unless @user == current_user
            - if @user.friends.include? current_user
              = button_to "Unfriend", remove_friend_user_path(current_user.id, friend_id: @user.id), class: "btn btn-xs btn-warning"
            - else
              = button_to "Add Friend", add_friend_user_path(current_user.id, friend_id: @user.id), class: "btn btn-xs btn-success"
          %legend= "#{@user.first_name.titleize}'s Friends"
          - @user.friends.order(:first_name).each do |friend|
            = link_to image_tag(friend.list_image), friend
    .col-md-8
      #recipes
        %legend= "#{@user.first_name.titleize}'s Recipes"
        .row
          - @user.recipes.order(:name).each do |recipe|
            .col-sm-6.col-md-4
              .thumbnail
                = link_to image_tag(recipe.image.url, style: "height: 175px;"), recipe
                .pull-left{style:"position:absolute;top:0;"}= pin_it_button :media => image_url(recipe.image.url), :description => recipe.name, :url => recipe_url(recipe),:count_layout => 'horizontal'
                = link_to "by #{recipe.user.first_name}", recipe.user, class: "pull-right", style: "margin-top:-20px;position:relative;background-color:rgba(255,255,255,0.5);color:#333;"