.container
  %h1
    %strong{style:"font-size:2em"} Dapper Chef
  %h3 After signing in using Facebook, users can upload recipes (along with photos), organize them into collections, collect other users' recipes, and share what they enjoy by pinning it on Pinterest.

.container{style:"margin-top:50px;padding:25px;background-color:#fff;"}
  .row{style:"padding:50px 0;"}
    .col-md-4.col-md-offset-2
      %i.fa.fa-facebook.fa-5x
    .col-md-6
      %h1 Sign in with Facebook
  %hr
  .row{style:"padding:50px 0;"}
    .col-md-6.col-md-offset-2
      %h1 Explore New Recipes
    .col-md-4
      %i.fa.fa-spoon.fa-5x
  %hr
  .row{style:"padding:50px 0;"}
    .col-md-4.col-md-offset-2
      %i.fa.fa-pinterest.fa-5x
    .col-md-6
      %h1 Socialize and Share
.container{style:"padding:50px 0;"}
  .col-md-6.col-md-offset-3.centered
    %h1{style:"padding-bottom:50px;"} What are you waiting for?
    = link_to "Join Today!", login_path, class: "btn btn-lg btn-block btn-primary", style: "color:#fff;"