.container
  .row
    .col-md-8.col-md-offset-2{style:"font-size:1.5em;"}
      %legend Help or Concerns?
      Thanks so much for trying Dapper Chef. This is a personal project for my wonderful wife, Angela, and her cooking compadres.
      %br
      %br
      This means all issues or concerns are handled by your's truly (that's me), so please contact me if you need anything or have questions. You can reach me by email at
      = link_to "david@readydevgo.com ", "mailto:david@readydevgo.com"
      or on Twitter at 
      = link_to "@developgrr", "http://twitter.com/developgrr", target: "_blank"
      \.
      %br
      %br
      Again, thanks for trying out the app!
      %br
      %h3 - David