.container{style:"padding-bottom:100px;"}
  .row
    .col-md-2
      #profile
        .well#profile-image.centered
          = link_to image_tag(current_user.profile_image, class: "img-responsive"), current_user
          %br
          = current_user.first_name
        = link_to "New Recipe", new_recipe_path, style: "color:#fff;", class: "btn btn-lg btn-success btn-block"
        = link_to "New Collection", new_collection_path, style: "color:#fff;", class: "btn btn-lg btn-info btn-block"
        %hr
        .centered
          %h3 Your Awesome Collections
          %hr
          - current_user.collections.order(:name).each do |coll|
            = link_to "#{coll.name.titleize}", coll, class: "btn btn-primary btn-block", style:"color:#fff;"
    .col-md-6
      #recipes
        %meta{content: 'dapperchef.com', property: 'og:site'}
        %legend Your Classy Kitchen
        .row
          - current_user.recipes.order(:name).each do |recipe|
            .col-md-6.col-lg-4
              = render recipe
    .col-md-4
      #friends
        .well.centered#friends-list
          %legend= "#{current_user.first_name.titleize}'s Friends"
          - current_user.friends.order(:first_name).each do |friend|
            = link_to image_tag(friend.list_image), friend