<!DOCTYPE html>
<html>
<head>
  <title>DapperChef</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
  <div class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag "recipe_trans60x60.png", style: "max-height:100%" %></a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">Recipes</a></li>
      </ul>
      <% if current_user %>
      <%= search_form_for q, url: search_recipes_path, method: :post, class: "navbar-form navbar-left", role: "search" do |f| %>
        <div class="form-group">
        <%= f.search_field :name_or_ingredients_cont_any, placeholder: "Find a recipe...", class: "form-control", style: "border-radius:5px;", value: nil %>
      </div>
        <%= f.submit "Search", class: "btn btn-info" %>
      <% end %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if current_user %>
              <li><a href="<%= edit_user_path(current_user) %>">Edit Profile</a></li>
            <% end %>
            <li><a href="/help">Help</a></li>
            <% if current_user %>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <% if notice %>
    <div class="alert alert-success fade in">
      <p><%= notice %></p>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-warning fade in">
      <p><%= alert %></p>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
